{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
		<div class="well well-sm">
		  <h1>Account Inactive</h1>
		  <p>Sorry, your account is not active, please contact support if you feel that this is an error on our part.</p>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-12">
		<h1>{% trans "Account Inactive" %}</h1>

		<p>{% trans "This account is inactive." %}</p>
	</div>
</div>
{% endblock %}
