{% extends "account/base.html" %}

{% load bootstrap3 %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>Set Password</h1>
      <p>Please set a password that is reasonably secure, it's for your own safety and well being</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-12">
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% bootstrap_form form %}
	      {% buttons %}
	        <button type="submit" class="btn btn-primary">
	          {% trans "Set Password" %} &raquo;
	        </button>
	      {% endbuttons %}
    </form>
	</div>
</div>
{% endblock %}
