{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block jumbotron %}
<div class="row">
	<div class="col-md-12">
		<div class="well well-sm">
		  <h1>Change Your Password Complete</h1>
		  <p>Feeling more secure, we hope so!</p>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-12">
   	<h1>{% trans "Change Password" %}</h1>
   	<p>{% trans 'Your password is now changed.' %}</p>
	</div>
</div>
{% endblock %}
