{% extends "account/base.html" %}

{% load i18n %}

{% block jumbotron %}
<div class="flex justify-center">
  <div class="w-full">
    <div class="bg-gray-200 p-4">
      <h1 class="text-xl font-bold">Sign Up</h1>
      <p>Please sign up to get more from your point to point experience</p>
    </div>
  </div>
</div>
{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
  <div class="w-full">
    <h1 class="text-2xl font-bold">{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"
        class="text-blue-500 underline">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          {% trans "Email" %}
        </label>
        <input type="email" name="email" id="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password1">
          {% trans "Password" %}
        </label>
        <input type="password" name="password1" id="password1"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password2">
          {% trans "Password (again)" %}
        </label>
        <input type="password" name="password2" id="password2"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required>
      </div>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% trans "Sign Up" %} &raquo;
      </button>
    </form>
  </div>
</div>
{% endblock %}