{% extends "default_base.html" %}

{% load static %}

{% block jumbotron %}
<div class="row">
  <div class="well col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="centered">
      <h1>Welcome to Pamplesneak!</h1>
      <p>Where not a lot makes sense and meaningful conversation is lost.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="well col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="centered">
      <h1>Participate, you big Pample.</h1>
      <a class="btn btn-warning" href="{% url 'pampleplay' %}" role="button">Play Now!</a>
     <img class="img-responsive" class="centered" src="{% static "assets/images/pamplesneak-large.png" %}">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}