{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load static %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Log In or Sign Up" %}{% endblock %}

{% block jumbotron %}
<div class="text-center py-6">
    <h1 class="text-2xl font-bold mb-2">Sign in or Register Today!</h1>
    <p class="mb-4">You must register in order to play!</p>
</div>

<div class="flex flex-col md:flex-row justify-center">
  <!-- Login Section -->
  <div class="md:w-1/2 bg-gray-300 p-4 mb-4 md:mb-0">
    <h1 class="text-lg font-bold">Log in</h1>
    {% include "custom_login.html" %}
  </div>

  <!-- Signup Section -->
  <div class="md:w-1/2 bg-gray-200 p-4">
    <h1 class="text-lg font-bold">Sign Up</h1>
    {% include "custom_signup.html" %}
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Content can go here if needed -->
{% endblock %}
