{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load widget_tweaks %}


{% block jumbotron %}
{% endblock %}

{% block content %}
<div class="text-center py-6">
  <h1 class="text-2xl font-bold mb-2">Sign in or Register Today!</h1>
  <p class="mb-4">You must register in order to play!</p>
</div>

<div class="flex flex-col md:flex-row justify-center">
<!-- Login Section -->
<div class="md:w-1/2 bg-gray-300 p-4 mb-4 md:mb-0">
  <h1 class="text-lg font-bold">Log in</h1>
  {% include "custom_login.html" %}
</div>

<!-- Signup Section -->
<div class="md:w-1/2 bg-gray-200 p-4">
  <h1 class="text-lg font-bold">Sign Up</h1>
  {% include "custom_signup.html" %}
</div>
</div>
<!-- Content can go here if needed -->
{% endblock %}
