{% extends "default_base.html" %}
{% load static %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  var gameId = "{{ game.id }}";
  var playerId = "{{ player.id }}";
</script>
{% endblock %}

{% block jumbotron %}
<div class="p-4 bg-gray-200 text-center">
  <h1 class="text-3xl font-bold">Welcome to the Pamplesneak game</h1>
  <h2 class="text-2xl">{{ game.game_name }}!</h2>
</div>
{% endblock %}

{% block content %}

<div class="my-4 text-center">
  <!-- ...existing buttons... -->
  <a href="{% url 'gameroom:stats' game_id=game.id slug=game.slug %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Game Stats
  </a>
</div>

<div class="container mx-auto px-4">
    {% if messages %}
        <div id="message-container" class="fixed top-0 left-1/2 transform -translate-x-1/2 bg-green-500 text-white py-2 px-4 rounded-md text-center hidden">
            {% for message in messages %}
                <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>

<div class="container mx-auto px-4">
  <div class="my-4">
    {% include "gameroom/playerword.html" %}
  </div>
 <!-- Level Selectors -->
 <div class="my-4 flex justify-center space-x-4">
  <div>
    <label for="obscurity_level" class="block text-sm font-medium text-gray-700">Obscurity Level</label>
    <select id="obscurity_level" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
      {% for i in range1_10 %}
        <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="silliness_level" class="block text-sm font-medium text-gray-700">Silliness Level</label>
    <select id="silliness_level" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
      {% for i in range1_10 %}
        <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="my-4 text-center">
  <button id="random_word_button" class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded">
    Random Word
  </button>
  <button id="random_player_button" class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded">
    Random Player
  </button>
  {% include "gameroom/messageform.html" %}
</div>
<div id="collapseStats" class="collapse">
  {% include "gameroom/ingamestats.html" %}
</div>
</div>
{% endblock %}