{% extends "default_base.html" %}
{% load static %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  var gameId = "{{ game.id }}";
  var playerId = "{{ player.id }}";
</script>
{% endblock %}

{% block jumbotron %}
<div class="p-4 bg-gray-200 text-center">
  <h1 class="text-3xl font-bold">Welcome to the Pamplesneak game</h1>
<h2 class="text-2xl">{{ game.game_name }}!</h2>
</div>
{% endblock %}

{% block content %}

<div class="my-4 text-center">
  <!-- Show QR Code Button -->
  <button id="show_qr_code_button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
      Show Share Game Code
  </button>

  <!-- Hide QR Code Button -->
  <button id="hide_qr_code_button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded hidden">
      Hide
  </button>

  <!-- QR Code Image Container -->
  <div class="flex justify-center mt-4">
    <img src="{% url 'gameroom:qr_code' game_id=game.id slug=game.slug %}" alt="QR Code" id="qrCodeImage" class="hidden">
  </div>
</div>

<div class="my-4 text-center">
  <a href="{% url 'gameroom:stats' game_id=game.id slug=game.slug %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Game Stats
  </a>
</div>

<div class="container mx-auto px-4">
    {% if messages %}
        <div id="message-container" class="fixed top-0 left-1/2 transform -translate-x-1/2 bg-green-500 text-white py-2 px-4 rounded-md text-center hidden">
            {% for message in messages %}
                <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>

<div class="container mx-auto px-4">
  <div class="my-4">
    {% include "gameroom/playerword.html" %}
  </div>


<div class="my-4 text-center">
  <h2> Send a word / Phrase to another player</h2>
  {% include "gameroom/messageform.html" %}
</div>
</div>
{% endblock %}