<div id="player_word" class="text-center">
    {% if player_words %}
        <h1 class="text-xl font-bold">You have {{ number_of_words }} word{{ number_of_words|pluralize }} in your queue</h1>

        <!-- Hide / Show Buttons Container -->
        <div class="visibility-buttons mt-4 p-4">
            <button id="show_all_button" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">Show All Words</button>
            <button id="hide_all_button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">Hide All Words</button>
        </div>

        <!-- Carousel Container -->
        <div class="carousel-container">
            {% for word in player_words %}
            <div class="carousel-card bg-white rounded-lg p-4 shadow-lg" data-card-index="{{ forloop.counter0 }}">
                <div class="toggle-content">
                    <p>Word {{ forloop.counter }} of {{ number_of_words }}</p>
                    <h1 class="text-xl font-bold game_word blur-sm">{{ word.word }}</h1>
                    <p>Sent by: {{ word.created_by|default:"anonymous" }}</p>
                    <p>Did you manage to sneak this word/phrase into conversation?</p>
                    <button data-word-id="{{ player_word.id }}" data-game-id="{{ game.id }}" data-player-id="{{ player.id }}" class="succeeded_button bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">
                        🎉 Yes, I Succeeded
                    </button>
                    <button data-word-id="{{ player_word.id }}" data-game-id="{{ game.id }}" data-player-id="{{ player.id }}" class="failed_button bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">
                        😞 No, I Failed
                    </button> 
                    <button data-word-id="{{ player_word.id }}" data-game-id="{{ game.id }}" data-player-id="{{ player.id }}" class="skipped_button bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">
                        🙈 Yikes, I Skipped it!
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Navigation Buttons -->
        {% if number_of_words > 1 %}
            <div class="navigation-buttons mt-4">
                <button id="prev_button" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">Previous</button>
                <button id="next_button" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">Next</button>
            </div>
        {% endif %}
    {% else %}
        <h1 class="text-xl font-bold">WAITING FOR WORD</h1>
    {% endif %}
</div>