{% extends "default_base.html" %}

{% load static %}

{% block jumbotron %}
<div class="flex justify-center">
  <div class="w-full">
    <div class="bg-gray-200 p-4 text-center">
      <h1 class="text-2xl font-bold">Welcome to the Pamplesneak lobby!</h1>
      <p>Hang out, choose a game or create one, we won't judge.</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
  <div class="text-center">
    <h1 class="text-xl font-bold">Can't see a game that interests you? Create one.</h1>
    <a class="bg-yellow-400 text-black font-bold py-2 px-4 rounded hover:bg-yellow-500" href="{% url 'gameroom:creategame' %}" role="button">Create a Game!</a>
  </div>

  {% if games_list %}
    <h1 class="text-lg md:text-xl lg:text-2xl font-bold my-4">Games going on right now</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      {% for game in games_list %}
        <div class="bg-gray-200 p-4 rounded">
          <h2 class="text-base md:text-lg">Game Name: <span class="text-muted">{{ game.game_name }}</span></h2>
          <h2 class="text-lg">Active Players: <span class="text-muted">{{ game.active_players }}</span></h2>
          <h2 class="text-lg">Active Players: <span class="text-muted">{{ game.id }}</span></h2>
          <h2 class="text-lg">Active Players: <span class="text-muted">{{ game.slug }}</span></h2>
          <a class="bg-yellow-400 text-black font-bold py-2 px-4 rounded hover:bg-yellow-500" href="{% url 'gameroom:joingame' game_id=game.id slug=game.slug %}" role="button">Join Game!</a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}
