<div id="player_word" class="text-center">
    {% if player_word and player_word.completed == False %}
    <div id="word_present">
        <h1 class="text-xl font-bold">You have {{ number_of_words }} word{{ number_of_words|pluralize }} in your queue</h1>
        <h1 class="text-xl font-bold">YOUR CURRENT WORD IS</h1>
        <button id="show_button" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">Show Word</button>
        <button id="hide_button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">Hide Word</button>
        <div class="game_word mt-4">
            <h2 class="text-2xl font-bold">{{ player_word.word }}</h2>
            <p class="mt-2">sent by
                {% if player_word.created_by %}
                    <i>{{ player_word.created_by }}</i>
                {% else %}
                    <i>anonymous</i>
                {% endif %}
            </p>
            <p>Did you manage to sneak this word/phrase into conversation?</p>
            <button id="succeeded_button" data-word-id="{{ player_word.id }}" data-game-id="{{ game.id }}" data-player-id="{{ player.id }}" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">
                🎉 Yes, I Succeeded
            </button>
            <button id="failed_button" data-word-id="{{ player_word.id }}" data-game-id="{{ game.id }}" data-player-id="{{ player.id }}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">
                😞 No, I Failed
            </button> 
            <button id="skipped_button" data-word-id="{{ player_word.id }}" data-game-id="{{ game.id }}" data-player-id="{{ player.id }}" class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded transition duration-200 ease-in-out">
                🙈 Yikes, I Skipped it!
            </button>
        </div>
    </div>
    {% else %}
    <div id="word_not_present">
        <h1 class="text-xl font-bold">WAITING FOR WORD</h1>
    </div>
    {% endif %}
</div>